*{
    margin: 0;
    padding: 0;
}

.container-flex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.items{
   width: 50%;
    background-color: crimson; 
    outline: solid 1px black;
    height: 200px;
}

.items:nth-child(2)
{
    background-color: gold;
    width: 100%;
    display: flex;
}

.sitems{
    background-color: black;
    outline: solid 1px white;
    color: white;
    flex: 1;
}