*{
    margin: 0;
    padding: 0;
}

.container-flex{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items{
    width: 300px;
    background-color: crimson; 
    outline: solid 1px black;
    height: 200px;
}


